.dashboard-content {
  background-color: rgb(220, 207, 192);
  min-height: calc(100vh - 120px);
  padding: 40px 0 80px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
